body {
    margin: 0;
    height: 100vh;
    background: #572d61;
    color: #E0E7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* ODPOČET */
.countdown {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* JEDEN BOX */
.box {
    background: #E0E7FF;
    width: 130px;
    height: 130px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ČÍSLO */
.number {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: #572d61;
}

/* POPISEK */
.label {
    margin-top: 8px;
    font-size: 0.9rem;
    opacity: 0.7;
    text-transform: uppercase;
    color: #4B5563;
}

/* --- MOBILNÍ VERZE --- */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 25px;
    }

    .countdown {
        gap: 15px;
    }

    .box {
        width: 90px;
        height: 90px;
    }

    .number {
        font-size: 2rem;
    }

    .label {
        font-size: 0.8rem;
    }
}